:root {
    --correct-answer-color: #0b8d28;
    --incorrect-answer-color: #bb0d1e;

    --main-color: white;
    --headline-font-color: black;
}

/* -- Farbe und Schriftart -- */
body {
    background-color: var(--main-color);
    font-family: "Arial";
}

.headline1 {color: var(--headline-font-color)}
.headline2 {color: var(--headline-font-color)}

a {color: black; text-decoration: none}
a:hover {color: gray}

/* -- Rahmen und Abstände -- */
header, article, nav, aside, footer {
    margin: 0.5em;
    padding: 0.75em;
    border: 1px solid #000000;
    /*border-radius: 0.5em;*/
}
/* -- Listentyp -- */
ul {list-style-type: square}

/* -- Allgemeiner Button-Stil -- */
button {
    min-width: 100px;
    min-height: 40px;
    font-size: 16px;
    margin: 10px;
    padding: 8px 16px; /* Innenabstand innerhalb des Buttons (oben/unten, links/rechts) */
    white-space: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    border: none;
    border-radius: 5px;
    background-color: #eaeaea;
    color: #333333;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #706d6d;
    color: #eaeaea;
}

button:focus {
    outline: none;
   /* box-shadow: 0 0 10px #d98243; */
}

/* -- Buttons im Startbereich -- */
#bereich {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

#bereich a {
    margin: 0.5em;
}

#bereich button {
    padding: 25px 50px;
    text-align: center;
    font-size: 20px;
}

/* -- Buttons für die Antworten -- */
#answers {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-wrap: wrap;
}

#answers button {
    margin: 10px;
    padding: 8px 16px; /* Innenabstand innerhalb des Buttons (oben/unten, links/rechts) */
}

/* -- Statistik -- */
.progress-bar {
    width: 100%;
    height: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
    overflow: hidden;
}

.progress {
    height: 100%;
    background-color: #4CAF50;
    transition: width 0.5s ease-in-out;
}



/* -- Flex-Items mit flex-grow, flex-shrink, flex-basis*/
main {display: flex}
nav {background-color: orange; order: 1; flex: 1 1 1em}
article {background-color: #cccccc; order: 2; flex: 3 3 3%}
aside {background-color: orange; order: 3; flex: 1 1 1em}

footer {background: Wheat;}
