:root {
    --main-color: white;
    --orange-color: #ec6608;
    --white-color: #eaeaea;
    --grey-color: #333333;
}

/* -- Farbe und Schriftart -- */
body {
    background-color: var(--main-color) ;
    font-family: "Arial";
}

/* -- Rahmen und Abstände -- */
header, article, nav, aside, footer {
    margin: 0.5em;
    padding: 0.75em;
    border-radius: 0.5em;
}

/* -- Links -- */
a {color: black; text-decoration: none}

/* -- Paragraphen -- */
p {
    padding: 1px 1px;
}

/* Überschriften Navigation, Aufgabenbereich, Erfolgsquote */
h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

/* -- Footer -- */
footer {
    background-color: #ee9e6e;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    white-space: break-spaces;
    overflow: hidden;
    text-overflow: fade;
}

/* -------------------------------------------------------------------------------------------------------- */
/* -- Responsive Design -- */

main {
    display: flex;
    flex-direction: row; /* Ändere die Richtung auf vertikal */
}

nav {
    background-color: #5b5a5a;
    padding: 10px;
    order: 1;
    flex: 1 1 1em;
}

.nav-item {
    margin: 10px 0;
}

.nav-link {
    display: block;
    text-decoration: none;
    color: var(--white-color);
    font-weight: bold;
    transition: color 0.3s;
}

.nav-link:hover {
    color: var(--orange-color);
}

article {
    background-color: #cccccc;
    order: 2;
    flex: 3 3 3%;
    overflow: auto; /* Fügt bei Bedarf einen Scrollbalken hinzu */
}

#task {
    word-wrap: break-word;
    max-width: 100%;
    overflow-wrap: break-word;
}

aside {
    background-color: #e8e8e8;
    order: 3;
    flex: 1 1 1em;
}

/* Media Query für kleinere Bildschirme */
@media (max-width: 1080px) {
    main {
        flex-direction: column;
    }
}

/* -------------------------------------------------------------------------------------------------------- */
/* -- aside - Erfolgsquote -- */
.lernbereich {
    font-weight: bold;
}

.erfolgsquote {
    font-size: 12px;
    color: #565353;
}
.erfolgsquote-liste {
    list-style-type: none;
    padding: 0;
}

.erfolgsquote-liste li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.lernbereich {
    font-weight: bold;
}

.erfolgsquote {
    font-size: 12px;
    color: #565353;
}

/* -------------------------------------------------------------------------------------------------------- */
/* -- Allgemeiner Button-Stil -- */
button {
    margin: 10px;
    font-size: 16px;
    padding: 8px 16px;
    display: flex;
    border: none;
    border-radius: 5px;
    flex-grow: 1;
    color: var(--grey-color);
    transition: 0.3s;
}

button:hover {
    background-color: var(--orange-color);
    color: var(--white-color);
}

/* -- Buttons im Startbereich -- */
#startcategory {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#startcategory a {
    margin: 0.5em;
}

#startcategory button {
    padding: 20px 28px;
    font-size: 16px;
}

/* -- Aufgaben-Start-Button -- */
.start-button button {
    white-space: normal;
    justify-content: center;
}

/* -- Buttons für die Antworten -- */
#answers-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* -------------------------------------------------------------------------------------------------------- */
/* -- x von x Aufgaben -- */
.task-label {
    text-align: center;
}

/* -- Fortschrittsbalken Richtig/Falsch beantwortet-- */
.progress-bar {
    display: flex;
    align-items: stretch;
    height: 10px;
    margin-top: 10px; /* Abstand zum vorherigen Element anpassen */
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}

.progress-bar-right {
    height: 100%;
    background-color: var(--orange-color);
    left: 0;
    top: 0;
    width: 50%;
}

.progress-bar-wrong {
    height: 100%;
    background-color: var(--white-color);
    right: 0;
    top: 0;
    width: 50%;
}

.progress-stats {
    display: flex;
    justify-content: space-between;
}







